* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .bg-page {
    background: #3fbbc0;
    color: #fff;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }

  h1, h2, h3, h4, h5, h6, .navbar a, .navbar a:focus {
    font-family: "Roboto", sans-serif;
  }

  .bd-color, .navbar a:hover, .navbar .active, .navbar .active:focus {
    color: #3fbbc0;
  }

  @media (max-width: 992px) {
    .header {
        padding: 5px 0;
    }
  }
